# custom
dist
*.zip
/yarn.lock
# Created by https://www.gitignore.io/api/code
# Edit at https://www.gitignore.io/?templates=code

### Code ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# End of https://www.gitignore.io/api/code

# Created by https://www.gitignore.io/api/react
# Edit at https://www.gitignore.io/?templates=react

### react ###
.DS_*
*.log
logs
**/*.backup.*
**/*.back.*

node_modules
bower_componets

*.sublime*

psd
thumb
sketch

# End of https://www.gitignore.io/api/react
